.input {
  &__box {
    flex-direction: column;
    width: 50%;
    margin: 10px auto;

    p {
      text-align: start;
      font-family: Poppins-Medium;
    }

    input {
      font-size: 1.7rem;
      font-family: inherit;
      color: inherit;
      background-color: var(--color-bg);
      // background: linear-gradient(92deg, #038125 0%, #4dff07 48%, #d6da05 100%);
      padding: 1.5rem 0 1.5rem 2rem;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      border: 1px solid rgb(228, 228, 228);
      transition: all 0.3s;
      width: 100%;
      // margin: 10px auto;

      &:focus {
        outline: none;
        border: 1px solid var(--color-primary);
      }
    }
  }
}