.helpCta {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 2rem;
  font-size: 1.2rem;

  :last-child {
    padding-left: 0.3rem;
    color: var(--color-primary-dark);

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }

}